<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        <% if (user) { %>
        <!-- If the user is logged in -->
        <div>
          Logged in as: <%= user.email %>
          <!-- Display the username -->
          <form action="/logout" method="POST">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">
              Logout
            </button>
          </form>
        </div>
        <% } else { %>
        <!-- If the user is not logged in -->
        <a class="nav-item nav-link" href="/login">Login</a>
        <!-- Replace the form with a login link -->
        <a class="nav-item nav-link" href="/register">Register</a>
        <!-- Add the registration link/button -->

        <% } %>
      </div>
    </div>
  </nav>
</header>
